<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#AB-Testing" data-toc-modified-id="AB-Testing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>AB-Testing</a></span></li></ul></div>

# AB-Testing

![cats](images/cats.jpeg)


Imaginad que somos los cientificos de datos de la empresa de videojuegos Tactile Entertainment. Los desarrolladores del juego Cookie Cats pretenden introducir un cambio en el juego para aumentar la retencion de los jugadores. En cierto nivel del juego los jugadores se encuentran una puerta que les obliga a esperar o a pagar la app. Actualmente la puerta se encuentra en nivel 30 y se pretende pasar al nivel 40, para comprobar la retencion a 1 y 7 dias. Antes de realizar el cambio definitivo en el juego se raliza un test AB.

Los datos estan alojados en `data/cookie_cats.csv`. Nuestro grupo de control sera la version actual `gate_30` y el grupo de tratamiento sera la version `gate_40`. Debemos realizar el test para 1 dia de retencion `retention_1` y para 7 dias `retention_7`.

In [1]:
# librerias

import pandas as pd
import numpy as np

from statsmodels.stats.proportion import proportions_ztest, proportion_confint
from scipy.stats import norm, sem

import pylab as plt

In [16]:
# datos
cats = pd.read_csv('data/cookie_cats.csv')
cats.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [17]:
# transformacion
cats['version'] = cats.version.str.replace('gate_30','control')
cats['version'] = cats.version.str.replace('gate_40','tratamiento')

In [18]:
cats.head()

   userid      version  sum_gamerounds  retention_1  retention_7
0     116      control               3        False        False
1     337      control              38         True        False
2     377  tratamiento             165         True        False
3     483  tratamiento               1        False        False
4     488  tratamiento             179         True         True

In [31]:
pd.crosstab(cats['version'] ,cats['retention_1'])

retention_1  False   True
version
control      24666  20034
tratamiento  25370  20119

In [32]:
pd.crosstab(cats['version'] ,cats['retention_7'])

retention_7  False  True
version
control      36198  8502
tratamiento  37210  8279

In [33]:
# muestreo
cats.version.value_counts()

tratamiento    45489
control        44700
Name: version, dtype: int64

In [35]:
# testeo para retention_1
control=cats[cats.version=='control'].sample(n=44700, random_state=42)

tratamiento=cats[cats.version=='tratamiento'].sample(n=44700, random_state=42)

ab_test=pd.concat([control, tratamiento], axis=0)

ab_test.reset_index(drop=True, inplace=True)

ab_test.head()

    userid  version  sum_gamerounds  retention_1  retention_7
0  6531033  control              35        False        False
1  8003009  control               4        False        False
2  5566807  control              23         True        False
3    64235  control               1        False        False
4  6210551  control               7        False        False

In [36]:
ab_test.tail()

        userid      version  sum_gamerounds  retention_1  retention_7
89395  8755807  tratamiento              26         True        False
89396  8288070  tratamiento              80         True        False
89397  9469122  tratamiento               1        False        False
89398  1056682  tratamiento             106         True        False
89399  1012652  tratamiento             199         True         True

In [37]:
ab_test.version.value_counts()

control        44700
tratamiento    44700
Name: version, dtype: int64

In [38]:
from statsmodels.stats.proportion import proportions_ztest, proportion_confint

In [39]:
# testeo para retention_1

control_res=ab_test[ab_test.version=='control']['retention_1']

trat_res=ab_test[ab_test.version=='tratamiento']['retention_1']

In [40]:
observaciones=[44700, 44700]  # count

conversiones=[control_res.sum(), trat_res.sum()]  # conversiones por grupo


z_score, p_valor = proportions_ztest(conversiones, nobs=observaciones)

(control_a, trata_a), (control_b, trata_b) = proportion_confint(conversiones, 
                                                                nobs=observaciones,
                                                                alpha=0.05)

In [41]:
print(f'z-score: {z_score:.2f}')
print(f'p-valor: {p_valor:.3f}')
print(f'intervalo conf 95% para grupo control: [{control_a:.3f}, {control_b:.3f}]')
print(f'intervalo conf 95% para grupo tratamiento con retencion de 1 dia: [{trata_a:.3f}, {trata_b:.3f}]')

z-score: 1.69
p-valor: 0.091
intervalo conf 95% para grupo control: [0.444, 0.453]
intervalo conf 95% para grupo tratamiento con retencion de 1 dia: [0.438, 0.447]

In [42]:
# Según los resultados, no podemos rechazar H0, 
# por lo que no hay diferencia estadísticamente representativa entre 
# poner la puerta en el nivel 30 o en el nivel 40 respecto a la retencion 
# a 1 dia.

In [43]:
# testeo para retention_7

control_res=ab_test[ab_test.version=='control']['retention_7']

trat_res=ab_test[ab_test.version=='tratamiento']['retention_7']

In [44]:
observaciones=[44700, 44700]  # count

conversiones=[control_res.sum(), trat_res.sum()]  # conversiones por grupo


z_score, p_valor = proportions_ztest(conversiones, nobs=observaciones)

(control_a, trata_a), (control_b, trata_b) = proportion_confint(conversiones, 
                                                                nobs=observaciones,
                                                                alpha=0.05)

In [45]:
print(f'z-score: {z_score:.2f}')
print(f'p-valor: {p_valor:.3f}')
print(f'intervalo conf 95% para grupo control: [{control_a:.3f}, {control_b:.3f}]')
print(f'intervalo conf 95% para grupo tratamiento con retencion de 1 dia: [{trata_a:.3f}, {trata_b:.3f}]')

z-score: 2.98
p-valor: 0.003
intervalo conf 95% para grupo control: [0.187, 0.194]
intervalo conf 95% para grupo tratamiento con retencion de 1 dia: [0.179, 0.186]

In [ ]:
#Debido a que el pvalor es menor de 0,05 rechazamos H0 
#y por tanto si hay una diferencia estadística entre 
#poner la puerta en el nivel 30 o en el nivel 40 con respecto a 
#la retención de 7 dias de los usuarios. Podemos observar una media 
#de retención menor en el grupo de tratamiento con la puerta en el nivel 40.